#!/bin/sh

# shellcheck source=.config/zsh/.zshenv
. "$ZDOTDIR/.zshenv"

export BROWSER=firefox-esr

setxkbmap -option compose:menu
xmodmap -e 'keycode 108 = dead_greek Meta_R Alt_R Meta_R'
ln -s "${XDG_CACHE_HOME:-~/.cache}/mozilla_$(id -un)0" /tmp

birdtray &
